body 
{ font-family: Arial, sans-serif;
   background:rgb(255, 222, 253); 
   color:#333;
    margin:0; 
    padding:0; }

.container { 
  width:600px;
   margin:60px auto;
   background:rgb(239, 184, 255); 
   padding:20px; 
   border-radius:6px; 
   box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.cadastro-container{
  width: 600px;
  background-color: rgb(239, 184, 255);
  margin:60px auto;
  border-radius: 10px;
  padding-bottom: 15px;
}

p {
  text-align: center;
}

h2 { 
  text-align:center;
  padding: 10px;  
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width:400px; 
  padding:10px;
  margin: 10px 15%;
  border:1px solid #ddd; 
  border-radius:4px;
}

button { 
  width:200px; 
  padding:10px; 
  border:0; 
  background:#b949ff; 
  color:#fff; border-radius:4px; 
  cursor:pointer; 
  margin: 0px 33%;
}

.alert { 
  background:#ffe6e6; 
  color:#a00; 
  padding:8px; 
  border-radius:4px; 
  margin-bottom:10px; 
}
.success { background:#e6ffe6; 
  color:#070; padding:8px; 
  border-radius:4px; 
  margin-bottom:10px; 
}

a { 
  color:#264468; 
  text-decoration:none; 
  text-align: center;
}

